<% include partials/header.ejs %>


<!-- ============================================================= SECTION – BLOG ============================================================= -->

<section id="blog" class="light-bg">
<div class="container inner-top-xs inner-bottom classic-blog">

<div class="row">

<div class="col-md-9 inner-right-sm">

<div class="posts sidemeta">

<div class="post format-gallery">

    <div class="date-wrapper">
        <div class="date">
            <span class="day">23</span>
            <span class="month">May</span>
        </div>
        <!-- /.date -->
    </div>
    <!-- /.date-wrapper -->

    <div class="post-content">

        <div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav post-media">

            <div class="item">
                <figure>
                    <img src="assets/images/art/work06-lg.jpg" alt="">
                </figure>
            </div>
            <!-- /.item -->

            <div class="item">
                <figure>
                    <img src="assets/images/art/work02-lg.jpg" alt="">
                </figure>
            </div>
            <!-- /.item -->

            <div class="item">
                <figure>
                    <img src="assets/images/art/work08a-lg.jpg" alt="">
                </figure>
            </div>
            <!-- /.item -->

            <div class="item">
                <figure>
                    <img src="assets/images/art/work09-lg.jpg" alt="">
                </figure>
            </div>
            <!-- /.item -->

            <div class="item">
                <figure>
                    <img src="assets/images/art/work16-lg.jpg" alt="">
                </figure>
            </div>
            <!-- /.item -->

        </div>
        <!-- /.owl-carousel -->

        <h2 class="post-title">
            <a href="blog-post.html">Learn how to successfully design brand identities</a>
        </h2>

        <ul class="meta">
            <li class="categories"><a href="#">Identity</a>, <a href="#">Graphic Design</a></li>
            <li class="comments"><a href="#">24</a></li>
            <li class="likes"><a href="#">73</a></li>
        </ul>
        <!-- /.meta -->

        <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem
            rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu oreprerum.</p>

        <a href="blog-post.html" class="btn">Read more</a>

    </div>
    <!-- /.post-content -->

</div>
<!-- /.post -->

<div class="post format-quote">

    <div class="date-wrapper">
        <div class="date">
            <span class="day">21</span>
            <span class="month">May</span>
        </div>
        <!-- /.date -->
    </div>
    <!-- /.date-wrapper -->

    <div class="post-content">
        <blockquote>
            <p>Been putting off creating my portfolio for several years, then I found REEN and about 30 minutes later
                ... I have an awesome looking portfolio. Totally love it – keep up the good work!</p>
            <footer><cite>Bill Jobs</cite></footer>
        </blockquote>
    </div>
    <!-- /.post-content -->

</div>
<!-- /.post -->

<div class="post format-standard">

    <div class="date-wrapper">
        <div class="date">
            <span class="day">14</span>
            <span class="month">May</span>
        </div>
        <!-- /.date -->
    </div>
    <!-- /.date-wrapper -->

    <div class="post-content">

        <h2 class="post-title">
            <a href="blog-post.html">The ultimate guide for designers to start freelancing</a>
        </h2>

        <ul class="meta">
            <li class="categories"><a href="#">Business</a></li>
            <li class="comments"><a href="#">14</a></li>
            <li class="likes"><a href="#">30</a></li>
        </ul>
        <!-- /.meta -->

        <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem
            rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu oreprerum.</p>

        <a href="blog-post.html" class="btn">Read more</a>

    </div>
    <!-- /.post-content -->

</div>
<!-- /.post -->

<div class="post format-image">

    <div class="date-wrapper">
        <div class="date">
            <span class="day">10</span>
            <span class="month">May</span>
        </div>
        <!-- /.date -->
    </div>
    <!-- /.date-wrapper -->

    <div class="post-content">

        <figure class="icon-overlay icn-link post-media">
            <a href="blog-post.html"><img src="http://www.wired.com/opinion/wp-content/uploads/2013/03/socialite.jpg" alt=""></a>
        </figure>
        <!-- /.post-media -->

        <h2 class="post-title">
            <a href="blog-post.html">Open Sourcing for Enterprises</a>
        </h2>

        <ul class="meta">
            <li class="categories"><a href="#">Open Source</a></li>
            <li class="comments"><a href="#">63</a></li>
            <li class="likes"><a href="#">114</a></li>
        </ul>
        <!-- /.meta -->

        <h3>Why, What to Open Source and What Not, and How.</h3>


        <p>I believe that every enterprise can and should benefit from not only using open-source technology but also contributing. This presentation describes why bother to open source, what to open source and what NOT to open-source and how to promote your project.</p>

        <a href="open-sourcing-for-enterprises.html" class="btn">Read more</a>

    </div>
    <!-- /.post-content -->

</div>
<!-- /.post -->

<div class="post format-video">

    <div class="date-wrapper">
        <div class="date">
            <span class="day">07</span>
            <span class="month">May</span>
        </div>
        <!-- /.date -->
    </div>
    <!-- /.date-wrapper -->


    <div class="post-content">

        <div class="video-container post-media">
            <iframe width="560" height="315" src="//www.youtube.com/embed/nCoGxfiIXY8" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- /.post-media -->

        <h2 class="post-title">
            <a href="blog-post.html">AngularJS + Firebase + AngularFire = Awesome!</a>
        </h2>

        <ul class="meta">
            <li class="categories"><a href="#">Backend-as-a-Serfice</a></li>
            <li class="comments"><a href="#">25</a></li>
            <li class="likes"><a href="#">84</a></li>
        </ul>
        <!-- /.meta -->

        <p></p>

        <a href="AngularJS-plus-Firebase-plus-AngularFire-equals-Awesome.html" class="btn">Read more</a>

    </div>
    <!-- /.post-content -->

</div>
<!-- /.post -->

<div class="post format-audio">

    <div class="date-wrapper">
        <div class="date">
            <span class="day">05</span>
            <span class="month">May</span>
        </div>
        <!-- /.date -->
    </div>
    <!-- /.date-wrapper -->

    <div class="post-content">

        <div class="post-media">
            <iframe width="100%" height="166" scrolling="no" frameborder="no"
                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134440674&amp;color=1abb9c&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
        </div>
        <!-- /.post-media -->

        <h2 class="post-title">
            <a href="blog-post.html">Music and design workflow</a>
        </h2>

        <ul class="meta">
            <li class="categories"><a href="#">Audio</a></li>
            <li class="comments"><a href="#">14</a></li>
            <li class="likes"><a href="#">48</a></li>
        </ul>
        <!-- /.meta -->

        <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem
            rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu oreprerum.</p>

    </div>
    <!-- /.post-content -->

</div>
<!-- /.post -->


</div>
<!-- /.posts -->

</div>
<!-- /.col -->

<aside class="col-md-3">

    <div class="sidebox widget">
        <form id="search" class="navbar-form search" role="search" action="https://www.google.com/#q=search+site:<%= domain %>" target="_blank">
            <input type="search" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
        </form>

    </div>

    <!-- /.widget -->

    <div class="sidebox widget">
        <h4>Categories</h4>

        <ul class="circled">
            <li><a href="#">Node.js</a></li>
            <li><a href="#">Cassandra</a></li>
            <li><a href="#">Open Source</a></li>
            <li><a href="#">Backend-as-a-Service</a></li>
            <li><a href="#">Internet of Things</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Mathematics</a></li>
            <li><a href="#">Chess</a></li>
            <li><a href="#">Photos</a></li>
        </ul>
        <!-- /.circled -->
    </div>
    <!-- /.widget -->

    <div class="sidebox widget">
        <h4>Timeline</h4>

        <a class="twitter-timeline inner-top-xs" href="https://twitter.com/sergtitov" data-widget-id="555197840956616705">Tweets by @sergtitov</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <!-- /.widget -->



</aside>

</div>
<!-- /.row -->

</div>
<!-- /.container -->
</section>

<!-- ============================================================= SECTION – BLOG : END ============================================================= -->


<% include partials/footer.ejs %>