<% include partials/header.ejs %>

<!-- ============================================================= SECTION – RESUME ============================================================= -->

<div class="container inner">
    <div class="row">

        <div class="col-md-3 inner-right-md inner-bottom-sm">

            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->

            <ul class="sidenav">
                <li><a href="#">Summary</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Experience</a></li>
                <li><a href="#">Projects</a></li>
            </ul><!-- /.sidenav -->

            <!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->

        </div><!-- /.col -->

        <div class="col-md-9 inner-left-md border-left">

            <!-- ============================================================= SECTION – HERO ============================================================= -->

            <section id="hero" class="inner-bottom-xs">
                <header>
                    <h1>RESUME</h1>
                </header>
            </section>

            <!-- ============================================================= SECTION – HERO : END ============================================================= -->


            <!-- ============================================================= SECTION – CONTENT ============================================================= -->

            <section id="content" class="border-top-lg">
                <div class="row">

                    <div class="col-sm-6 inner-right-xs inner-top-sm">
                        <h2>The interface aspect</h2>

                        <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni autem labor. Laceaque quiae sitiorem rest non restibusae es tumquam core posae volor remped modi volor. Doloreiur qui commolu temp dolupta oreprem tibusam. Eumenis consent accullignis autem inisita posae volor conecus resto explabo.</p>

                        <figure>
                            <img src="assets/images/art/work15.jpg" alt="">
                        </figure>

                        <p>Eumenis et consent accullignis dentibea autem inisita posae volor conecus es restivum explabore. Magnis modipsae que sitiorem voloratati andigen daepeditem quiate ut reporemni restibusae.</p>

                        <a href="#" class="btn btn-large">Get in touch</a>
                    </div><!-- /.col -->

                    <div class="col-sm-6 inner-left-xs inner-top-sm">
                        <h2>The experience aspect</h2>

                        <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni autem labor. Laceaque quiae sitiorem rest non restibusae es tumquam core posae volor remped modi volor. Doloreiur qui commolu temp dolupta oreprem tibusam. Eumenis consent accullignis autem inisita posae volor conecus resto explabo.</p>

                        <figure>
                            <img src="assets/images/art/photograph02.jpg" alt="">
                        </figure>

                        <p>Eumenis et consent accullignis dentibea autem inisita posae volor conecus es restivum explabore. Magnis modos que sitiorem voloratati andigen.</p>
                    </div><!-- /.col -->

                </div><!-- ./row -->
            </section>

            <!-- ============================================================= SECTION – CONTENT : END ============================================================= -->

        </div><!-- ./col -->

    </div><!-- /.row -->
</div><!-- /.container -->    <!-- /.container -->

<!-- ============================================================= SECTION – RESUME : END ============================================================= -->


<% include partials/social.ejs. %>

<% include partials/footer.ejs %>