<!-- ============================================================= SECTION – CONTACT US ============================================================= -->

<section id="contact-us" class="tint-bg">
    <div class="container inner-sm">
        <div class="row">
            <div class="col-sm-10 center-block text-center">
                <h1 class="single-block"><i class="icon-comment-empty"></i> Need more info? <a href="contact.html" class="btn btn-large">Contact me</a></h1>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- ============================================================= SECTION – CONTACT US : END ============================================================= -->
