<% include partials/header.ejs %>


<!-- ============================================================= SECTION – BLOG ============================================================= -->

<section id="blog" class="light-bg">
<div class="container inner-top-xs inner-bottom classic-blog">

<div class="row">

<div class="col-md-9 inner-right-sm">

<div class="posts sidemeta">


<div class="post format-image">

    <div class="date-wrapper">
        <div class="date">
            <span class="day">11</span>
            <span class="month">Jan</span>
        </div>
        <!-- /.date -->
    </div>
    <!-- /.date-wrapper -->

    <div class="post-content">

        <figure class="icon-overlay icn-link post-media">
            <a href="blog/open-sourcing-for-enterprises.html"><img src="http://www.wired.com/opinion/wp-content/uploads/2013/03/socialite.jpg" alt=""></a>
        </figure>
        <!-- /.post-media -->

        <h2 class="post-title">
            <a href="blog/open-sourcing-for-enterprises.html">Open Sourcing for Enterprises</a>
        </h2>

        <ul class="meta">
            <li class="categories"><a href="#">Open Source</a></li>
            <li class="comments"><a href="#">63</a></li>
            <li class="likes"><a href="#">114</a></li>
        </ul>
        <!-- /.meta -->

        <h3>Why, What to Open Source and What Not, and How</h3>

        <blockquote class="inner-left-md">
            <p>I think, fundamentally, open source does tend to be more stable software. It's the right way to do things.</p>
            <footer class="text-right inner-right-md"><cite>Linus Torvalds</cite></footer>
        </blockquote>

        <p class="inner-top-xs">I believe that every enterprise can and should benefit from not only using open-source technology but also contributing. This presentation describes why bother to open source, what to open source and what NOT to open-source and how to promote your project.</p>

        <a href="blog/open-sourcing-for-enterprises.html" class="btn">Read more</a>

    </div>
    <!-- /.post-content -->

</div>
<!-- /.post -->


<div class="post format-audio">

    <div class="date-wrapper">
        <div class="date">
            <span class="day">05</span>
            <span class="month">Sept</span>
        </div>
        <!-- /.date -->
    </div>
    <!-- /.date-wrapper -->

    <div class="post-content">

        <div class="post-media">
            <iframe width="100%" height="166" scrolling="no" frameborder="no"
                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134440674&amp;color=1abb9c&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
        </div>
        <!-- /.post-media -->

        <h2 class="post-title">
            <a href="blog-post.html">The Soundmaker | Rodrigo and Gabriela</a>
        </h2>

        <ul class="meta">
            <li class="categories"><a href="#">Audio</a></li>
            <li class="comments"><a href="#">14</a></li>
            <li class="likes"><a href="#">48</a></li>
        </ul>
        <!-- /.meta -->

        <p>One of the best acoustic guitar artists ever!</p>

    </div>
    <!-- /.post-content -->

</div>
<!-- /.post -->

<div class="post format-video">

    <div class="date-wrapper">
        <div class="date">
            <span class="day">07</span>
            <span class="month">Oct</span>
            <span class="year">2013</span>
        </div>
        <!-- /.date -->
    </div>
    <!-- /.date-wrapper -->


    <div class="post-content">

        <div class="video-container post-media">
            <iframe width="560" height="315" src="//www.youtube.com/embed/nCoGxfiIXY8" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- /.post-media -->

        <h2 class="post-title">
            <a href="blog-post.html">AngularJS + Firebase + AngularFire = Awesome!</a>
        </h2>

        <ul class="meta">
            <li class="categories"><a href="#">Backend-as-a-Serfice</a></li>
            <li class="comments"><a href="#">25</a></li>
            <li class="likes"><a href="#">84</a></li>
        </ul>
        <!-- /.meta -->

        <p></p>

        <a href="AngularJS-plus-Firebase-plus-AngularFire-equals-Awesome.html" class="btn">Read more</a>

    </div>
    <!-- /.post-content -->

</div>
<!-- /.post -->


</div>
<!-- /.posts -->

</div>
<!-- /.col -->

<aside class="col-md-3">

    <div class="sidebox widget">
        <form id="search" class="navbar-form search" role="search" action="https://www.google.com/#q=search+site:<%= domain %>" target="_blank">
            <input type="search" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
        </form>

    </div>

    <!-- /.widget -->

    <div class="sidebox widget">
        <h4>Categories</h4>

        <ul class="circled">
            <li><a href="#">Node.js</a></li>
            <li><a href="#">Cassandra</a></li>
            <li><a href="#">Open Source</a></li>
            <li><a href="#">Backend-as-a-Service</a></li>
            <li><a href="#">Internet of Things</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Mathematics</a></li>
            <li><a href="#">Chess</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Quotes</a></li>
            <li><a href="#">Audio</a></li>
        </ul>
        <!-- /.circled -->
    </div>
    <!-- /.widget -->

    <div class="sidebox widget">
        <h4>Timeline</h4>

        <a class="twitter-timeline inner-top-xs" href="https://twitter.com/sergtitov" data-widget-id="555197840956616705">Tweets by @sergtitov</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <!-- /.widget -->



</aside>

</div>
<!-- /.row -->

</div>
<!-- /.container -->
</section>

<!-- ============================================================= SECTION – BLOG : END ============================================================= -->


<% include partials/footer.ejs %>