<% include partials/header.ejs %>

<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero">
    <div id="owl-main" class="dark-bg">

        <div class="container inner-bottom-xs">
            <div class="caption vertical-center text-center inner-top-xs">

                <div class="row">
                    <div class="col-sm-5 inner-left-xs inner-top-xs">
                        <img src="assets/images/SergeyTitov_medium@2x.jpg" width="200px" class="profilephoto">
                    </div><!-- /.col -->

                    <div class="col-sm-7 inner-right-xs text-left text-justify">
                        <h2>Sergey Titov</h2>
                        <p ><%= about_short %></p>
                        <div class="fadeInDown-3">
                            <a href="resume.html" class="btn btn-large btn-blue">Resume</a> &nbsp;
                            <a href="contact.html" class="btn btn-large">Get in touch</a>
                        </div>
                    </div><!-- /.col -->


                </div><!-- /.row -->
                <!-- /.fadeIn -->

            </div>
            <!-- /.caption -->
        </div>
        <!-- /.container -->


    </div>
    <!-- /.owl-carousel -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->


<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->

<section id="who-we-are" class="light-bg">
    <div class="container inner-top-sm inner-bottom-sm">

        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>What I do well</h1>

                    <li>I am transparent about the issues.</li>
                    <li>I will identify issues as early as possible, raise them and will come up with a plan to fix them.</li>
                    <li>I will keep track of dependencies, will track them done and get them done.</li>
                    <li>I will provide technical guidance to the team and help to unblock the team.</li>
                    <li>I will understand business to make better technical decisions and will work with business people to help them solve their problem the easiest way, not write code for the sake of code ar process.</li>
                    <li>I will create a scalable and extendable architecture consisting of loosly coupled components that will be easy to maintain and evolve.</li>
                    <li>I am constantly learning new technologies.</li>
                    <li>I will always provide several options to solve a problem.</li>
                </header>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</section>

<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->


<% include partials/social.ejs %>

<% include partials/footer.ejs %>