<% include partials/header.ejs %>

<!-- ============================================================= SECTION – RESUME ============================================================= -->

<div class="container inner-xs">
    <div class="row">

        <div class="col-md-3 inner-right-md inner-bottom-sm">

            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->

            <ul class="sidenav">
                <li><a href="#summary">Summary</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#education">Education</a></li>
            </ul><!-- /.sidenav -->

            <!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->

        </div><!-- /.col -->

        <div class="col-md-9 inner-left-md border-left">

            <!-- ============================================================= SECTION – CONTENT ============================================================= -->

            <section id="content">
                <div class="row inner-bottom-xs" id="summary">

                    <div class="col-sm-12 inner-right-xs">
                        <h2>Summary</h2>

                        <p>Software Architect, Team Leader, and Project Coordinator in a wide variety of enterprise business applications from scalable multi-datacenter platforms written in Java, Node.js, AngularJS with data stored in NoSQL databases like Cassandra to Single-Sign-On solutions with lots of low-level C++. Interested in leading distributed multinational teams working on challenging projects.</p>

                        <p>Maintainer of <a href="https://github.com/sergtitov/NodeJS-Learning">Node.js Learning</a> on Github - curated links to blog posts, articles, videos, tutorials, books, frameworks, modules, IDEs, testing tools, hosting providers, etc. to help learn Node.js and keep up to date.</p>

                    </div>
                </div>

                <div class="row text-center">

                        <div class="col-sm-4 inner-bottom-xs">
                            <div class="icon">
                                <i class="fa fa-code icn"></i>
                            </div><!-- /.icon -->
                            <h2>Languages</h2>
                            <ul class="inner-right-xs">
                                <li>JavaScript</li>
                                <li>C#</li>
                                <li>Java</li>
                                <li>C++</li>
                            <ul>
                        </div><!-- /.col -->

                        <div class="col-sm-4 inner-bottom-xs">
                            <div class="icon">
                                <i class="fa fa-cloud icn"></i>
                            </div><!-- /.icon -->
                            <h2>Databases</h2>
                            <ul class="inner-right-xs">
                                <li>Cassandra</li>
                                <li>MongoDB#</li>
                                <li>Firebase</li>
                                <li>PostgreSQL</li>
                                <li>MS SQL</li>
                            </ul>
                        </div><!-- /.col -->

                        <div class="col-sm-4 inner-bottom-xs">
                            <div class="icon">
                                <i class="fa fa-puzzle-piece icn"></i>
                            </div><!-- /.icon -->
                            <h2>Frameworks</h2>
                            <ul class="inner-right-xs">
                                <li>Node.js</li>
                                <li>Express</li>
                                <li>Angular.js</li>
                                <li>Bootstrap</li>
                                <li>Spring</li>
                            </ul>
                        </div><!-- /.col -->


                </div><!-- ./row -->

                <div class="row text-center">

                    <div class="col-sm-4">
                        <div class="icon">
                            <i class="fa fa-cogs icn"></i>
                        </div><!-- /.icon -->
                        <h2>Tools</h2>
                        <ul class="inner-right-xs">
                            <li>ElasticSearch</li>
                            <li>Hazelcast</li>
                            <li>RabbitMQ</li>
                            <li>Yeoman</li>
                        </ul>
                    </div><!-- /.col -->

                    <div class="col-sm-4">
                        <div class="icon">
                            <i class="fa fa-dashboard icn"></i>
                        </div><!-- /.icon -->
                        <h2>BigData</h2>
                        <ul class="inner-right-xs">
                            <li>Hadoop</li>
                            <li>Amazon EMR</li>
                            <li>Spark</li>
                            <li>Spark Streaming</li>
                        </ul>
                    </div><!-- /.col -->

                    <div class="col-sm-4">
                        <div class="icon">
                            <i class="fa fa-code-fork icn"></i>
                        </div><!-- /.icon -->
                        <h2>Other</h2>
                        <ul class="inner-right-xs">
                            <li>Git</li>
                            <li>REST</li>
                            <li>HTML5, CSS3</li>
                            <li>JIRA, Confluence</li>
                            <li>Jenkins, JMeter</li>
                        </ul>
                    </div><!-- /.col -->

                </div><!-- ./row -->

                <hr>

                <div class="row" id="experience">

                    <div class="col-sm-12 inner-right-xs">
                        <h2>Experience</h2>

                        <h3>Chief Software Architect / Professional Partner</h3>
                        <h4>DataArt</h4>

                        <p class="text-small">July 2012 – Present | Greater New York City Area</p>

                        <h3>Senior Development Manager</h3>
                        <h4>Oracle</h4>

                        <p class="text-small">December 2011 – July 2012 | Greater New York City Area</p>

                        <p>Managed multi-national distributed team working on Oracle Enterprise Single Sign-On system.</p>
                        <p><em>Role:</em>  features assessment and estimation, project planning and process control, dependencies management, release management and timely delivery, staffing and people management.</p>
                        <p><em>Technologies:</em> С++, .NET, COM, XPCOM, ATL, WTL, OLE DB, Active Directory, LDAP, ASP.NET, DPAPI, CryptoAPI, HLLAPI.</p>

                        <h3>System Architect, Team Leader, Project Coordinator</h3>
                        <h4>DataArt</h4>

                        <p class="text-small">April 2006 – December 2011</p>

                        <p>Designed and built for various customers:</p>

                        <div class="inner-left-xs inner-bottom-xs">
                            <li>Leading Enterprise Single Sign-On System (ESSO)</li>
                            <li>In-house Logistics System with sophisticated Routing Optimization Module</li>
                            <li>Syslog Daemon Logging Extension for Event Managing System</li>
                        </div>

                        <p><em>Role:</em> was responsible for team management, risk management, communication with customer, requirements negotiation, project plans preparation, architecture design, development of underlying framework for applications layers intercommunication, deployment, writing technical documentation.</p>
                        <p><em>Technologies:</em> С++, .NET, ASP.NET, ADO.NET, AJAX, JSON, SOAP, Web Services, HTML, DHTML, XML, NUNIT, MS SQL Server, COM, XPCOM, ATL, WTL, KLOG, CppUnit, XML, OLE DB, Active Directory, LDAP, ASP.NET, DPAPI, HLLAPI, Subversion.</p>

                        <h3>Senior Software Developer</h3>
                        <h4>MetaLab</h4>

                        <p class="text-small">November 2002 – April 2006</p>

                        <p>Built PractiCAD and PractiCAM - computer aided design and complete manufacturing systems for HVAC contractors.</p>

                        <p>Developed 2D and 3D mathematical libraries, system engine, scripts of fittings, accessories, architectural elements, import/export, database, GUI.</p>

                        <p><em>Technologies:</em> Visual C++ 6.0, MFC, STL, COM, OpenGL, and Autodesk Object ARX.</p>

                    </div><!-- /.col -->

                </div><!-- ./row -->

                <hr>

                <div class="row" id="projects">

                    <div class="col-sm-12 inner-right-xs">
                        <h2>Projects</h2>

                        <h3>Enterprise Single Sign-On System (ESSO)</h3>

                        <p class="text-small">February 2007 – December 2011</p>

                        <p>ESSO automates every password management task for the end-user, including password selection, logon, and password change on an enterprise level. Can use LDAP, Active Directory or any SQL database server as its user profile and credential repository. Seamlessly integrates with Windows logon and it works with most industry-leading smart cards, proximity cards, biometrics and token solutions.</p>

                        <p><em>Role:</em> Architect, Team Leader.</p>
                        <p><em>Technologies:</em> С++, .NET, COM, XPCOM, ATL, WTL, OLE DB, Active Directory, LDAP, ASP.NET, DPAPI, CryptoAPI, HLLAPI.</p>

                        <h3>In-house Logistics System with Routing Optimization Module</h3>

                        <p>The system performs automatic optimization of delivery routes using dynamic programming models and also provides UI for Pallet and Load building. Used by sportswear company to improve efficiency of transportation operation and optimize merchandize delivery.</p>

                        <p><em>Role:</em> Team management, risk management, communication with customer, requirements negotiation, project plan preparation, architecture design, development of underlying framework for applications layers intercommunication, deployment, writing technical documentation.
                        </p>
                        <p><em>Technologies:</em> C#, JavaScript, ASP.NET, ADO.NET, AJAX, JSON, SOAP, Web Services, HTML, DHTML, XML, NUNIT, MS SQL Server, Subversion.</p>

                        <h3>PractiCAD</h3>

                        <p>PractiCAD for AutoCAD is a computer aided development system for HVAC contractors featuring automated design, drafting, and detailing for construction, HVAC and sheet metal industries. AutoCAD-driven, integrated with PractiCAM.</p>

                        <p><em>Role:</em> developed 3D mathematical libraries, system engine, scripts of fittings, accessories, architectural elements, import from PractiCAM database, GUI.
                        </p>
                        <p><em>Technologies:</em> Visual C++ 6.0, MFC, Autodesk Object ARX.</p>

                        <h3>PractiCAM</h3>

                        <p>PractiCAM is a complete manufacturing system for sheet metal and HVAC contractors. Supports cutting machinery (plasma, water-jet, etc.), and coil lines. Features shape and fitting libraries, nesting, labeling, reports, cost estimating, bar coding.</p>

                        <p><em>Role:</em> developed 2D and 3D mathematical libraries, system engine, fitting scripts, GUI.
                        </p>
                        <p><em>Technologies:</em> Visual C++ 6.0, MFC, STL, COM, OpenGL.</p>

                        <h3>Noeticon</h3>

                        <p>Noeticon is system for creating and taking tests in variety areas of any complexity. Includes test developing tool with visual test designer, and test executing tool.</p>

                        <p><em>Role:</em> dDesign and implementation of reusable COM component library, database structure design, developing of import/export format and implementation library.
                        </p>
                        <p><em>Technologies:</em> Visual C++ 6.0, MFC, COM, JScript, VBScript.</p>

                    </div><!-- /.col -->

                </div><!-- ./row -->

                <hr>

                <div class="row" id="education">

                    <div class="col-sm-12 inner-right-xs">
                        <h2>Education</h2>
                        <h3>Voronezh State Technical University</h3>
                        <h4>PhD, Computer Science</h4>

                        <p>2002 - 2005</p>
                        <p><em>Specialty:</em> mathematical modeling, numerical optimization methods.</p>
                        <p><em>Thesis:</em> Optimal Scheduling of Queuing Networks with Switching Times Using Genetic Algorithms. Monte Carlo simulation of a queuing network was used for assessing switching schedules proposed by the specially designed genetic algorithm.</p>

                        <h3>Voronezh State Technical University</h3>
                        <h4>Master's Degree, Computer Science</h4>

                        <p>1997 - 2002</p>

                    </div><!-- /.col -->


                </div><!-- ./row -->


            </section>

            <!-- ============================================================= SECTION – CONTENT : END ============================================================= -->

        </div><!-- ./col -->

    </div><!-- /.row -->
</div><!-- /.container -->    <!-- /.container -->

<!-- ============================================================= SECTION – RESUME : END ============================================================= -->


<% include partials/social.ejs %>

<% include partials/footer.ejs %>